<footer class="main-footer">
	<div class="pull-right hidden-xs">
		<b>Fork me on <a href="{{ path('github_repo') }}">GitHub <i class="fa fa-github"></i></a> </b>
	</div>
	<strong>Copyright &copy; 2016 <a href="http://www.prabhakargupta.com">Prabhakar Gupta</a>.</strong> All rights
	reserved.
</footer>
