{% block title %} Documentation{% endblock %}
{% extends 'main.html.twig' %}

{% block body %}
    <div class="content-header">
        <h1>
            Qua<strong>Troop</strong>
            <small>Current version 1.0.1</small>
        </h1>
    </div>

    <section id="introduction">
        <h2 class="page-header"><a href="#introduction">Introduction</a></h2>
        <p class="lead">
            Qua<strong>Troop</strong> is a dynamic user hierarchy system which can link any selected user to 'n' number of managers and 'n' number of team members. It's main features include the following:<br>
            <ul>
                <li>There is no limit to the value of 'n'.</li>
                <li>Any existing user in the system can be assigned as a manager or a team member to the current user selected.</li>
                <li>The user hierarchy management requires a flexible structure to store a list of “People reporting to User” and a list of “User reports to People”.</li>
                <li>For every user one can select a list of users (existing in system) for both fields: “People reporting to User” & “User reports to People”.</li>
            </ul>
        </p>
    </section>

    <section>
        <h2 class="page-header"><a href="#available-routes">Available Routes</a></h2>
        <h3><code>/user</code></h3>
        <p class="lead">
            This gives a list of all the users in the system and once we select anyone out of them, it gives information about all that specific selected user. It gives the following information about the user:
            <ul>
                <li><strong>All users who the current user reports to (All Levels)</strong></li>
                <li><strong>All users reporting to current user (All Levels)</strong></li>
                <li><strong>All users who the current user reports to (One Level)</strong></li>
                <li><strong>All users reporting to current user (One Level)</strong></li>
            </ul>
        </p>
        <h3><code>/add-user</code></h3>
        <p class="lead">
            This gives a panel to add a new user in the system. We can select the immediate parent of the new user and accordingly the changes are done automatically in the system giving a new User ID to the user.
        </p>
        <h3><code>/edit-user</code></h3>
        <p class="lead">
            This gives a panel to add new connections for an existing user in the system. We can select the a new parent and a new child and accordingly the changes are done automatically in the system.
        </p>
    </section>

    <section>
        <h2 class="page-header"><a href="#algorithm-used">Algorithm Used</a></h2>
        <strong>Breadth First Search (BFS)</strong> algorithm traverses a graph in a breadthward motion and uses a queue to remember to get the next vertex to start a search, when a dead end occurs in any iteration.
        <br>
        <center>
            <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Animated_BFS.gif">
        </center>
       
        <br>
        <pre class="prettyprint">
<strong>Breadth-First-Search(Graph, root):</strong>

for each node n in Graph:            
    n.distance = INFINITY        
    n.parent = NIL

create empty queue Q      

root.distance = 0
Q.enqueue(root)                      

while Q is not empty:        
    current = Q.dequeue()
    for each node n that is adjacent to current:
        if n.distance == INFINITY:
            n.distance = current.distance + 1
            n.parent = current
            Q.enqueue(n)
        </pre>
    </section>

    <section>
        <h2 class="page-header"><a href="#dependencies">Dependencies</a></h2>
        <p class="lead">
            Qua<strong>Troop</strong> is built over Symfony 3 PHP Framework using MySQL Database. All the dependencies are listed below:
            <ul>
                <li><a href="http://symfony.com/">Symfony 3</a></li>
                <li><a href="#">MySQL Database</a></li>
                <li><a href="http://getbootstrap.com/">Bootstrap 3</a></li>
                <li><a href="https://github.com/almasaeed2010/AdminLTE">Admin LTE </a></li>
                <li><a href="http://jquery.com/">jQuery 1.11+</a></li>
            </ul>
        </p>
    </section>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{{ asset('css/documentation-style.css') }}">
{% endblock %}