{% extends 'main.html.twig' %}

{% block body %}

<div class="row">
    <h1 class="text-center">Welcome to <strong>QuaTroop!</strong></h1>
</div>

{% endblock %}

{% block stylesheets %}
{% endblock %}